name: pre-commit checks

on:
  push:
    branches:
      - main
      - fix/*
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Setup Python
        run: uv python install

      - name: Run pre-commit
        run: uvx pre-commit run --all-files
